<nb-card *ngFor="let product of products$ | async">
  <nb-card-header [routerLink]="['detail', product.id]">
    <p class="productTitle">{{ product.title }}</p>
    <p><span class="productPrice">{{ product.price.currency.symbol }}{{ product.price.value }}</span>
      <span class="productLikes">   Likes: {{ product.likes }}</span></p>
  </nb-card-header>
  <nb-card-body [routerLink]="['detail', product.id]">
    <img [src]="product.images.small" [alt]="product.title">
    <p>{{ product.description.substr(0, 100) }}...</p>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="success" (click)="onAddLike(product)">Like</button>
    <button nbButton status="primary" (click)="onAddToBasket(product)">Add to Basket</button>
  </nb-card-footer>
</nb-card>
