a {
  text-decoration: none;
  width: 8vw;
}

a:nth-child(3) {
  width: auto;
  margin-left: 4vw;
}

nb-layout-header {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

input {
  width: 60vw;
}
