<nb-layout>
  <nb-layout-header fixed>
    <a routerLink="/">
      <nb-icon icon="home-outline"></nb-icon>
    </a>
    <form [formGroup]="form">
      <input formControlName="search" nbInput placeholder="Search...">
    </form>
    <a routerLink="basket">
      <nb-icon icon="shopping-bag-outline"></nb-icon>
      <span> $ {{ (basketSum$ | async) }}</span>
    </a>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
