<nb-card *ngFor="let basketItem of basketItems$ | async">
  <nb-card-header>
    <p class="productTitle">{{ basketItem.product.title }}</p>
  </nb-card-header>
  <nb-card-body>
    <div class="part">
      <img [src]="basketItem.product.images.small" [alt]="basketItem.product.title">
    </div>
    <div class="part">
      <span>{{ basketItem.product.price.currency.symbol }} {{ basketItem.product.price.value }}</span>
      <span> x </span>
      <input nbInput type="number" [value]="basketItem.count" readonly>
      <span> = {{ basketItem.product.price.value * basketItem.count }}</span>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button (click)="onRemoveFromBasket(basketItem)" nbButton status="danger">Remove</button>
  </nb-card-footer>
</nb-card>
