nb-card-header {
  padding-top: 0;
  padding-bottom: 0;
}

nb-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

nb-card-body,
nb-card-header {
  padding-left: 2vw;
  padding-right: 2vw;
}

.part {
  width: 50%;
  display: inline;
  text-align: center;
}

input {
  width: 9vw !important;
  max-width: unset !important;
  padding: 1vw !important;
}

nb-card-footer {
  text-align: end;
}

button {
  height: 7vw;
}
