p {
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

nb-card-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 2vw;
  height: 14vw;
}

button:nth-child(0) {
  width: 20%;
}

button:nth-child(1) {
  width: 30%;
}
