<nb-card *ngIf="product">
  <nb-card-header>
    <p class="productTitle">{{ product.title }}</p>
    <p><span class="productPrice">{{ product.price.currency.symbol }}{{ product.price.value }}</span>
      <span class="productLikes"> Likes: {{ product.likes }}</span></p>
  </nb-card-header>
  <nb-card-body>
    <img [src]="product.images.small" [alt]="product.title">
    <p>{{ product.description }}</p>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="success" (click)="onAddLike(product)">Like</button>
    <button nbButton status="primary" (click)="onAddToBasket(product)">Add to Basket</button>
  </nb-card-footer>
</nb-card>
